* {
  margin: 0;
  padding: 0;
}

body{
  text-align: center;
  background-image: url("images/clouds.jpg");
  background-repeat: repeat;
}

#page-wrap {
     max-width: 1100px;
     margin: 10px auto;
     padding: 20px 20px 0;
     border-style: ridge;
     border-width: 2px;
     background-color: white;
}

#header {
  position: relative;
}

#logo-container {
  height: 171px;
  text-align: center;
}

.logo {
  line-height: 0;
  display: block;
  margin: 0 auto;
  max-height: 171px;
  max-width: 100%;

}

.site-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 15px;
}

.site-info a {
  text-decoration: none;
}

span.gmap-hover {
  background: #ffeedd;
}

span.gmap-hover:hover {
  text-decoration: none;
  background: #ffffff;
  z-index: 6;
}

span.gmap-hover span {
  position: absolute;
  left: -9999px;
  margin: 20px 0 0 0px;
  padding: 3px 3px 3px 3px;
  border-style:solid;
  border-color:black;
  border-width:1px;
  z-index: 6;
}

span.gmap-hover:hover span {
  left: 2%;
  background: #ffffff;
}

span.gmap-hover span {
  position: absolute;
  left: -9999px;
  margin: 4px 0 0 0px;
  padding: 3px 3px 3px 3px;
  border-style:solid;
  border-color:black;
  border-width:1px;
}

span.gmap-hover:hover span {
  margin: 0px 0 0 170px;
  background: #ffffff;
  z-index:6;
}

@media screen and (max-width: 570px) {
    span.gmap-hover:hover span {
      margin: 20px 0 0 -10px;
      background: #ffffff;
      z-index:6;
}
}

/*Main Content under the header*/
.thrush-image {
  width: 100%;
}

#message-container {
  text-align: center;
}

.message {
  display: block;
  padding-top: 15px;
  margin: 0 auto;
  max-width: 100%;
}

.site-description {
  font-size: 25px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  
  display: inline;
}

nav a {
  font-size: 30px;
  text-decoration: none;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
}

.service-pic {
  margin: 15px 0;
  height: 380px;
  width: 475px;
  background-color: rgba(255, 1, 1, 0.9);
  border-radius: 25px;
}

.service-descript {
  height: 350px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.72);
  border-radius: 25px;
}

@media screen and (max-width: 1200px) {
  .services-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

  .service-pic {
    width: 85%;
  }

  .service-descript {
    margin: 15px 0;
    width: 45% ;
  }
}

@media screen and (max-width: 700px) {
  .services-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

  .service-pic {
    width: 100%;
  }

  .service-descript {
    margin: 15px 0;
    width: 100% ;
  }
}

hr {
  margin-top: 20px;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 25px;
  font-family: 'Orbitron', sans-serif;
}

a {
  text-decoration: none;
}

footer a:hover {
    color: yellow;
    background-color: blue;
    font-weight: bold
}
